#header {
    text-align: center;
    background-color: #ef0b0b;
    margin: auto;
  }
  
  #header img {
    width: 5rem;
    height: 5rem;
    object-fit: contain;
    background-color: transparent;
  }
  
  #header h1 {
    font-size: 1.5rem;
    color: black;
    margin: 0;
  }

  #header h2 {
  font-size: 1.2rem;
  margin: 5px 0 0 0;
  padding-bottom: 5px;
  color: blue;
}

#user-input {
  padding: 1rem;
  max-width: 30rem;
  margin: 2rem auto;
  border-radius: 4px;
  background-color: #eb9f9f;
}

.input-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.input-group label {
  font-weight: bold;
}

.input-group input {
  width: 10rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

.text-error{
  font-size: 1rem;
  font-weight: bold;
  color: #ef0b0b;
}

.form-btn{
  margin: 5px;
  padding: 3px;
  color:white;
  border: solid 2px white;
  background-color: #ef0b0b;
  border-radius: 5px;
  cursor: pointer;
  width: 5rem;
}

.form-btn:hover{
  background-color: aqua;
  transition: 0.9s;
  color: black;
}

.input-currency label{
  font-size: large;
  color:darkblue
}

#currency {
  margin: 8px;
}

/* //////Table: OutputData component/// */

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
}

th, td {
  border: 1px solid #dc0d0d;
  padding: 8px;
  text-align: right;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

/* 9 */

.highlight {
  background-color: blue;
}

/* ////////media queries//////////// */

@media (max-width: 600px) {
  #header img {
    width: 3.5rem;
    height: 3.5rem;
  }

  #header h1 {
    font-size: 1.2rem;
  }

  #header h2 {
    font-size: 1rem;
    color: blanchedalmond;
  }

  #header {
    padding: 10px;
  }

  #user-input{
    max-width: 19rem;
  }
}